.menuCardsContainer{
  display:flex;
  gap:30px;
  justify-content:center;
  background: black;
}

.menuCard{
  display:flex;
  align-items:center;
  justify-content:center;
  color:#7c1c23;
  font-weight:bold;
}

@media(max-width:1000px){

  .menuCardsContainer{
    padding: 50px 10px;
    flex-direction:column;
    align-items:center;
  }

  .menuCard{
    width:100%;
  }

}

@media(min-width:1000px){

  .menuCard{
    width:90%;
    width:45svw;
  }

    .menuCardsContainer{
      padding:60px;
  }

}