.storySection{
  background:black;
  color:white;
  text-align:center;
  padding:80px 20px;
}

.storyTitle{
  margin-bottom:20px !important;
}

.storyTitleSub{
  margin:40px 0 0px 0 !important;
}

.storyImage{
  background:#d8d2c9;
  color:#7c1c23;
  padding:60px;
  border-radius:20px;
  max-width:700px;
  margin:0 auto 40px auto;
}

.storyText{
  max-width:850px;
  margin:auto;
  line-height:1.7;
  display:flex;
  flex-direction:column;
  gap:25px;
}

.kitchenWrapper{
  display: flex;
  justify-content: center;
  padding: 3svh 0;
}

.chefPic{
    border-radius: 2rem;
  }

@media(max-width:1000px){
  .kitchenWrapper{
    flex-direction: column;
      align-items: center;

  }

  .chefPic{
    width: 80svw;
    margin: 0 0 2.5svh 0;
  }

  .kitchenWrapper :last-child{
    order: -1;
  }

  .chefPicInvert{
    display: none;
  }

  .chefPicMobile{
     width: 80svw;
    margin: 0 0 2.5svh 0;
        border-radius: 2rem;
  }
}

@media(min-width:1000px){
  .chefPic{
    width: 25svw;
    margin-left: 2.5svw;
    border-radius: 2rem;
  }

  .chefPicInvert{
    width: 25svw;
    margin-right: 2.5svw;
    border-radius: 2rem;
        border-radius: 2rem;

  }

   .kitchenWrapper{
      align-items: start;

  }

  .chefPicMobile{
    display: none;
  }
}